# Node / Expo
node_modules/
.expo/
.expo-shared/
dist/
web-build/

# Native
ios/
android/

# Env
.env
.env.local

# Build outputs
*.jsbundle
*.tsbuildinfo

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Tests
coverage/

# TypeScript
expo-env.d.ts
